/* ADD FONTS */

/* Days One */
@font-face {
  font-family: "Days One";
  src: url("../assets/fonts/DaysOne-Regular.ttf") format("truetype");
}

/* Roboto Regular */
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Roboto Medium */
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Roboto Bold */
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Roboto Black */
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

html,
body {
  overflow-x: hidden;
}

.firstSection {
  min-height: 45vh;
}

.secondSection,
.thirdSection {
  min-height: 100vh;
}

/* Default styling for tablet or larger screens */
.navbar .brand {
  font-family: "Days One";
  letter-spacing: 3px;
  font-size: 40px;
}

/* Media query for phones */
@media (max-width: 767px) {
  .navbar .brand {
    font-size: 25px; /* Adjust the font size for phones */
  }

  .navbar-brand img {
    width: 35px;
  }

  .firstSection {
    min-height: 70vh;
  }

  .selectionStatus {
    width: 47px;
  }
  .selectionBtn {
    font-size: 16px !important;
  }

  .themeContainer {
    height: 450px !important;
    overflow-y: scroll;
  }

  .secondSection {
    height: auto;
  }
}

.textarea {
  height: 100% !important;
  width: 100% !important;
  resize: none;
  line-height: normal;
  font-size: 1.8rem !important;

}

button {
  color: #cdcdcd !important;
  font-family: "Roboto" !important;
  font-weight: 900 !important;
  letter-spacing: 1px;
}

.modal.fade {
  background-color: rgb(9, 8, 9, 0.95);
}

/* MODALS */

.modal-content .modal-header,
.modal-content .modal-body,
.modal-content .modal-footer {
  border: 0;
}

.modal-header {
  position: relative;
  z-index: 1;
}

.themeContainer {
  max-height: 450px !important;
  overflow-y: scroll;
}

.themeContainer img {
  width: 100%;
}

/* RADIO BUTTONS */

/* HIDE RADIO */
input[type="radio"][name="themeSelection"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
input[type="radio"][name="themeSelection"] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
input[type="radio"][name="themeSelection"]:checked + img {
  outline: 3px solid #8753d6;
}

input[type="radio"] {
  accent-color: #905ed9;
}

.modal-body label {
  cursor: pointer;
}

h1 {
  font-size: 4.5rem;
  font-family: "Roboto";
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 4.9rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0rem;
}

.tertiaryText {
  font-size: 1.4rem;
  color: #bababa;
  letter-spacing: -0.1px;
}

.createHeading {
  font-size: 100px;
  line-height: 105px;
}

.thirdSection h1 {
  font-size: 8rem;
  line-height: 7.5rem;
}

.thirdSection h2 {
  font-size: 2.5rem;
}

.thirdSection p,
.thirdSection li {
  font-size: 1.5rem;
}

.deleteSpan {
  display: inline-block;
  position: relative; /* Set the parent element to relative positioning */
}

.deleteSpan img {
  position: absolute;
  left: -55px; /* Position the image at the left of the parent element */
  top: 0; /* Optionally, adjust the vertical position */
  width: 60px; /* Adjust the width of the image */
  height: auto; /* Maintain the aspect ratio of the image */
}

textarea{
  color: #090809;
}

.form-control{
  background-size: 0px !important; /* Adjust the size as needed */
}


/* Media query for phones */
@media (max-width: 1399px) {
  h1 {
    font-size: 2.5rem;
    font-family: "Roboto";
    font-weight: bold;
    letter-spacing: 0.1rem;
    line-height: normal;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0rem;
  }

  .tertiaryText {
    font-size: 1.1rem;
    color: #bababa;
    letter-spacing: -0.1px;
  }

  .createHeading {
    font-size: 4rem;
    line-height: 4rem;
  }

  .navbar .brand {
    font-family: "Days One";
    letter-spacing: 3px;
    font-size: 2rem;
  }

  .thirdSection h1 {
    font-size: 4rem;
    line-height: normal;
  }

  .thirdSection h2 {
    font-size: 1.3rem;
    line-height: normal;
  }

  .thirdSection p,
  .thirdSection li {
    font-size: 1.3rem;
  }

  .deleteSpan img {
    position: absolute;
    left: -13px; /* Position the image at the left of the parent element */
    top: 2px; /* Optionally, adjust the vertical position */
    width: 25px; /* Adjust the width of the image */
    height: auto; /* Maintain the aspect ratio of the image */
  }

  .fontSelection {
    font-size: 1.5rem !important;
  }

  .fontSelection input {
    transform: scale(1.5);
  }

  .textarea {
    font-size: 2rem !important;
    line-height: 2rem;
  }


}

/* Font selection */

.fontSelection {
  font-size: 1.5rem !important;
  height: 200px !important;
  overflow-y: scroll;
}

.fontSelection input {
  transform: scale(2);
}


.invalidStatus {
  border: 2px solid #d83929;
}

/* Media query for phones */
@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
    font-family: "Roboto";
    font-weight: bold;
    letter-spacing: 0.1rem;
    line-height: normal;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0rem;
  }

  .tertiaryText {
    font-size: 16px;
    color: #bababa;
    letter-spacing: -0.1px;
  }

  .createHeading {
    font-size: 38px;
    line-height: 40px;
  }

  .navbar .brand {
    font-family: "Days One";
    letter-spacing: 3px;
    font-size: 1.5rem;
  }

  .fontSelection {
    font-size: 1.05rem !important;
    max-height: 10% !important;
    overflow-y: scroll;
  }

  .thirdSection h1 {
    font-size: 2rem;
  }

  .textarea {
    font-size: 1.1rem !important;
    line-height: normal;
  }
  .fontSelection input {
    transform: scale(1);
  }




}


.accordion-button:focus {
  outline: none !important;
  box-shadow: none !important;
}


.accordion-header {
  border-bottom: 1px solid;
  border-color: #5f5e60 !important;
}


.corner-counter {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 0px;
  border-radius: 5px;
  font-size: 12px;
  color: #333;
}

/* Style to make the image fill the whole screen in fullscreen mode */
.fullscreen-image:-webkit-full-screen {
  object-fit: contain;
}

.fullscreen-image:-moz-full-screen {
  object-fit: contain;
}

.fullscreen-image:-ms-fullscreen {
  object-fit: contain;
}

.fullscreen-image:fullscreen {
  object-fit: contain;
}
