.background {
  background-image: url("/img/bg1_xl.jpg");
  background-size: cover;
  animation: slide-background 100s linear infinite;
}

/* media query for small screens (up to 767px wide) */
@media (max-width: 767px) {
  .background {
    background-size: 200%;
    animation: slide-background 100s linear infinite;
    background-image: url("/img/bg1_sm.jpg");
  }
}
@keyframes slide-background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.background2 {
  background-image: url("/img/bg2.jpg");
  background-size: cover;
  animation: slide-background 400s linear infinite;
}

.background3 {
  background-image: url("/img/test.jpg");
  background-size: cover;
  animation: slide-background 200s linear infinite;
}
