@import url("https://fonts.cdnfonts.com/css/days-one");
@import url("https://fonts.cdnfonts.com/css/roboto");
@import url("https://fonts.cdnfonts.com/css/ropa-sans-2");

* {
  font-family: "Roboto Light", sans-serif;
  color: #fff;
}

.brand {
  font-family: "Days One", sans-serif;
}

#subtitle {
  font-family: "Ropa Sans", sans-serif;
}

/* MAIN BACKGROUND */

html,
main,
.container {
  background-color: #020312;
}

/* NAVBAR */

nav {
  background-color: #020312;
  font-weight: bolder;
  color: #f4f6ef;
}

.nav-link {
  color: #fff !important;
}

/* Disable toggler border */

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
  outline: none !important;
  box-shadow: none !important;
}

/* MAIN CONTENT PLATFORM */

.platform {
  background-color: #050720;
}

section {
  min-height: 100vh;
}

p,
li {
  font-size: 17px !important;
}

@media (max-width: 991.98px) {
  /* Styles for small screens */
  h1.title {
    font-size: 3rem !important;

  font-family: "Ropa Sans", sans-serif;
  }
}

@media (min-width: 992px) {
  /* Styles for lg screens */
  h1.title {
    font-size: 6rem !important;
    
  font-family: "Ropa Sans", sans-serif;
  }
}


/* MODALS */


.modal-content .modal-header ,
  .modal-content .modal-body ,
  .modal-content .modal-footer  {
    border: 0;
  }


  .modal.fade.show{
    background-color: rgba(0, 0, 0, 0.7)
  }

/* BUTTONS */

button{
  font-family: "Montserrat" , sans-serif !important}

button.submit {
  background-color: #3935ff;
  color: #fff;
}

button.submit:hover {
  background-color: #3935ff;
  color: #fff;
}

/* TEXT BOX */
textarea.form-control {
  height: 90px !important;
  border: 0 !important;
  border-bottom: 4px solid transparent;
  transition: all 0.5s ease;
  background-color: #181516 !important;
  background: linear-gradient(to right, #0c22a6, #970dd6);
  background-position: -100% bottom;
  background-repeat: no-repeat;
  color: white !important;
}

textarea.form-control:focus {
  height: 140px !important;
  border: 0 !important;
  outline: none;
  border-bottom: 4px solid;
  animation: draw 0.5s forwards;
  box-shadow: none;
  color: black !important;
  background-color: rgba(255, 255, 255, 0.918) !important;
  background-image: none;
  background-position: 0% bottom;
}

textarea.form-control.invalid {
  border: 0.5px solid red !important;
  background-color: #ffdddd !important;
}

.form-floating label {
  color: rgb(255, 255, 255) !important;
}
textarea.form-control:focus + label {
  color: #181516 !important;
}

#embed {
  background-color: #020312 !important;
  border: #970dd6;
  font-size: xx-large;
}

/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type="radio"]:checked + img {
  outline: 3px solid rgb(17, 0, 255);
}

#brand-heading {
  font-size: 100px;
}

.logoImg {
  width: 300px;
}

p {
  font-size: 18px;
}

@media all and (max-width: 576px) {
  #brand-heading {
    font-size: 45px;
  }

  #aboutLogo {
    width: 200px;
  }

  @media (min-height: 750px) and (max-width: 1000px) {
    /* Your CSS rules for screens with height larger than 750px and width less than 1000px */
    /* Add your styles here */
    #brand-heading {
      margin-top: 10%;
    }
  
    #subtitle {
      margin-bottom: 5%;
    }
  }
  
  
.logoImg {
  width: 220px;
}
}

.igPost {
  height: auto;
  max-width: 100%;
}

/* LOADING SPINNERS */

#spinner-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  overflow: hidden;
}

#spinner {
  display: none;
  width: 100px;
  height: 100px;
}

body.loading {
  overflow: hidden; /* Prevent scrolling when the overlay is active */
}
