@import url("https://fonts.cdnfonts.com/css/days-one");
@import url("https://fonts.cdnfonts.com/css/roboto");
@import url("https://fonts.cdnfonts.com/css/ropa-sans-2");


.brand {
  font-family: "Days One", sans-serif;

}

* {
  font-family: "Roboto Light", sans-serif;
  color: #fff ;
}

#subtitle {
  font-family: "Ropa Sans", sans-serif;
}

.platform {
  background-color: #020312
}
nav{
  background-color: #F8F9FA;

  box-shadow: #f4f6ef;
  font-weight: bolder;
}

.navbar-toggler[aria-expanded="true"]::before {
background-color: #0c22a6;
}

html,
main,
.container {
  background-color: #0A090C;
}


.navbar-toggler{
  border: none !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
    outline: none !important;
    box-shadow: none !important;
}



 textarea.form-control {
  border: 0 !important;
  border-bottom: 4px solid transparent;
  background-color: transparent;
  transition: all 0.5s ease;
  background-image: linear-gradient(to right, #0c22a6, #503b69);
  background-size: 0% 10px;
  background-position: 0px bottom;
  background-repeat: no-repeat;
  color:rgb(255, 255, 255) !important;
  
  background-color: #181516 !important; /* add this line to set the background color */
}

textarea.form-control:focus {
  border: 0 !important;
  outline: none ;
  border-bottom: 4px solid;
  animation: draw 0.5s forwards;
  box-shadow: none;
  color:black !important;
  background-color: #f4f6ef !important
}

@keyframes draw {
  from {
    background-size: 0% 4px;
  }
  to {
    background-size: 100% 4px;
  }
}

.form-floating label {
  color: rgb(255, 255, 255) !important;
}
textarea.form-control:focus + label{
  color: #181516 !important;
}










/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"]+img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type="radio"]:checked+img {
  outline: 3px solid rgb(17, 0, 255);
}

#brand-heading {
  font-size: 100px;
  
}

#aboutLogo {
  width: 300px;
}

p {
  font-size: 18px;
}

@media all and (max-width: 576px) {
  #brand-heading {
    font-size: 45px;
  }

  #aboutLogo {
    width: 200px;
  }
}

.igPost{
  height: auto;
  max-width: 100%;
}




